<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-comp">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>Soy  [[pop1]]!</h3>
    <h3>Tengo  [[edad]]!</h3>
<input type="text" value"{{nombre:input}}"></input>
<input type="range"min="20"  max="100" value"{{edad::input}}"></input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComp extends Polymer.Element {
      static get is() { return 'demo-comp'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demo-comp'
          },
          edad:{
            type: Number
          }
        };
      }
    }

    window.customElements.define(DemoComp.is, DemoComp);
  </script>
</dom-module>
