<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<link rel="import" href="../test-iron-pages/test-iron-pages.html">

<dom-module id="visor-cuentas-new">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <test-iron-pages></test-iron-pages>
    <h4>Sus cuentas:</h4>

   <button type="button" class="btn btn-success">Nuevo</button>
   <table class="table table-striped">
     <thead>
       <tr>
        
         <th scope="col">Saldo</th>
         <th scope="col">IBAN</th>
         <th scope="col">Operaciones</th>
       </tr>
     </thead>
     <tbody>
       <template is="dom-repeat" items="{{accounts}}">
         <tr>
           <td>{{item.saldo}}</td>
           <td>{{item.iban}}</td>
           <td>
            <button type="button" class="btn btn-warning">Editar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
         </tr>
       </template>
     </tbody>
   </table>

    <iron-ajax
      id="getAccounts"
      url="http://localhost:3001/tech/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData">
  </template>

  <script>
    /**
     * `visor-cuentas`
     * Visor de cuentas
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorCuentasNew extends Polymer.Element {
      static get is() { return 'visor-cuentas-new'; }
      static get properties() {
        return {
          userid : {
            type: Number,
            observer: '_idChanged'
          }, iban: {
            type: String
          }, balance: {
            type: Number
          }, accounts: {
            type: Array
          }, saldo: {
            type: String
          }
        };
      }

      _idChanged() {
        this.$.getAccounts.generateRequest();
      }

      showData(data) {
        console.log('response');
        console.log(data.detail.response);
        this.accounts = data.detail.response[0].account;
        // this.balance = data.detail.response[0].balance;
        
        //this.iban =data.detail.response[0].account[0].iban;
        //this.saldo = data.detail.response[0].account[0].saldo;

        console.log(this.iban);
        console.log('response2');
      }
    }

    window.customElements.define(VisorCuentasNew.is, VisorCuentasNew);
  </script>
</dom-module>
