<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Sus cuentas</h1>
    <template is="dom-repeat" items="{{accounts}}">
      <h3>IBAN - {{item.iban}}</h3>
      <h3>Saldo - {{item.saldo}}</h3>
      </br>
    </template>

    <iron-ajax auto=""
      id="getAccounts"
      url="http://localhost:3001/tech/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData">
  </template>

  <script>
    /**
     * `visor-cuentas`
     * Visor de cuentas
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid : {
            type: Number
          }, iban: {
            type: String
          }, balance: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }

      showData(data) {
        console.log('response');
        console.log(data.detail.response);
       // this.accounts = data.detail.response;
        this.accounts = data.detail.response[0].account;
        // this.iban = data.detail.response[0].IBAN;
        // this.balance = data.detail.response[0].balance;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
