<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import"
href="../../bower_components/iron-ajax/iron-ajax.html" />
<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
   total columnas 12 (que indica el ancho máximo)-->
   <!-- media query -->
   <div hidden$="{{!userid}}" >
     <h4 class="col-md-12" >Usuario</h4>
     <br />
       <div class="card" style="width: 30rem;" alt="Responsive card">
         <div class="card-body">
           <div class="form-group">
             <label for="exampleInputName">Nombre</label>
             <input type="text" class="form-control" id="exampleInputName" placeholder="Enter nombre" value="{{firstName::input}}">
           </div>
           <div class="form-group">
            <label for="exampleInputName">Apellido</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Enter nombre" value="{{firstName::input}}">
          </div>
           <div class="form-group">
             <label for="exampleInputEmail1">Correo</label>
             <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="{{email::input}}">
           </div>
           <div class="form-group">
            <label for="exampleInputName">Clave</label>
            <input type="password" class="form-control" id="exampleInputName" placeholder="Enter nombre" value="{{firstName::input}}">
          </div>
           
           <button  class="btn btn-primary" hidden$="{{opEditar}}" on-click="editar">Editar</button><br></br>
           <button  class="btn btn-primary" hidden$="{{opEliminar}}" on-click="eliminar">Eliminar</button><br></br>
         </div>
        
      </div>
   </div>
       
<iron-ajax auto
  id="getPerson"
  url="http://localhost:3001/tech/v2/users/{{userid}}"
  handle-as="json"
  on-response="showData"
>
<iron-ajax
id="doEliminar"
url="http://localhost:3001/tech/v2/users/{{userid}}"
method="DELETE"
handle-as="json"
on-response="manageAJAXResponseEliminar"
on-error="showError">


    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          name: {
          type: String
        }, id: {
          type: Number
        }, userid: {
          type: Number,
          observer: '_idChanged'
        }, opEliminar: {
          type:Boolean
        },  opEditar: {
          type:Boolean
        }
        };
      }
/*
      _idChanged() {
        this.$.getAccounts.generateRequest();
      }*/
      // After the properties, but inside the class.
  showData(data) {
    console.log("showData3");
   
    this.id = data.detail.response[0].id;
    console.log(this.id);
    this.firstName = data.detail.response[0].first_name;
      this.email = data.detail.response[0].email;
  }
  // After the properties, but inside the class.
  eliminar(e) {
       console.log("dar clic eliminar");
       this.$.doEliminar.generateRequest();
     }

     manageAJAXResponseEliminar(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response);
    /*
       this.dispatchEvent(new CustomEvent('loginOK', {detail:{idusu:this.idusu}}));
       console.log("isLoggeddellogin:" + this.isLogged);
       console.log("idusu:" + this.idusu);*/
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
