<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/demo-comp/demo-comp.html">
<dom-module id="componente-principal">
  <template>
    <style>
      :host {
        display: block;
      }

      h2, h3 {
        color:green;
      }
    </style>
    <h2>Hello [[prop1]] [[prop2]]!</h2>
    <h3>Dentro del template</h3>
    <demo-comp></demo-comp>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponentePrincipal extends Polymer.Element {
      static get is() { return 'componente-principal'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'kriss'
          },
          prop2: {
            type: String,
            value: 'minano'
          }
        };
      }
    }

    window.customElements.define(ComponentePrincipal.is, ComponentePrincipal);
  </script>
</dom-module>
