<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<link rel="import" href="../login-usuario-cuentas/login-usuario-cuentas.html">
<link rel="import" href="../visor-cuentas/visor-cuentas-new.html">
<link rel="import" href="../visor-usuario/visor-usuarios-list.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<dom-module id="gestor-usuarios">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          
   
          <visor-usuarios-list on-listaok="eliminar" ></visor-usuarios-list>
        
        <!--<div class="col-md-4" hidden$="[[!opEliminar]]" >
          
    <visor-usuario id="receiver" ></visor-usuario>
        </div>-->
      
     

  
   

  </template>

  <script>
    class GestorUsuarios extends Polymer.Element {
      static get is() { return 'gestor-usuarios'; }
      static get properties() {
        return {
          hasAccounts: {
            type: Boolean,
            value: false
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          opEliminar: {
            type:Boolean,
            value: false
          }
        };
      }

      eliminar(e) {
        console.log('hola');
       /* console.log(e.detail.idusu)
        this.$.receiver.userid = e.detail.idusu;
        this.opEliminar=e.detail.opcionEliminar;
        
        this.$.receiver.opEliminar = e.detail.opEliminar;
        console.log(this.opEliminar);*/
        /*this.first_name = e.detail.name;
        this.hasAccounts = true;*/
      }
    }

    window.customElements.define(GestorUsuarios.is, GestorUsuarios);
  </script>
</dom-module>