<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<link rel="import" href="../login-usuario-cuentas/login-usuario-cuentas.html">
<link rel="import" href="../visor-cuentas/visor-cuentas-new.html">
<link rel="import" href="../test-iron-pages/test-iron-pages.html">
<dom-module id="gestor-componentes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <login-usuario-cuentas on-loginok="showAccounts"></login-usuario-cuentas>
   
    <div hidden$="[[!isLogged]]">
     <!-- <test-iron-pages id="menu"></test-iron-pages>-->
       <visor-cuentas-list id="receiver"></visor-cuentas-list>
     </div>

  </template>

  <script>
    class GestorComponentes extends Polymer.Element {
      static get is() { return 'gestor-componentes'; }
      static get properties() {
        return {
          hasAccounts: {
            type: Boolean,
            value: false
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      showAccounts(e) {
        this.$.receiver.userid = e.detail.idusu;
        this.$.receiver.firstName = e.detail.name;
        
        //this.$.menu.componentName="visor-cuentas-list";
        this.first_name = e.detail.name;
        this.isLogged = e.detail.isLogged;
        
        //this.hasAccounts = true;
      }
    }

    window.customElements.define(GestorComponentes.is, GestorComponentes);
  </script>
</dom-module>