<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/src/visor-usuario/visor-usuario.html">

<dom-module id="login-usuario-cuentas">
  <template>
    <style>
      :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 100px 0;
      top:100px;
     }
     .col-md-12{
      font-family: Helvetica;
      color: rgb(19, 18, 18);
      }
     .btn-primary{
       background: #0b8585!important;
     }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
    total columnas 12 (que indica el ancho máximo)-->
    <!-- media query -->
    <div hidden$="{{isLogged}}" class="container">
      <h1 class="col-md-12">Login Usuario</h1>
      <br />
        <div class="card" style="width: 30rem;" alt="Responsive card">
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="{{email::input}}">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{password::input}}">
            </div>

            <button  class="btn btn-primary" on-click="login">Login</button><br></br>
          </div>
         
       </div>
    </div>
    <!--<h3> [[mensaje]</h3>-->
    <iron-ajax
     id="doLogin"
     url="http://localhost:3001/tech/v2/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuarioCuentas extends Polymer.Element {
      static get is() { return 'login-usuario-cuentas'; }
      static get properties() {
        return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idusu:{
           type: String
         },
         mensaje: {
           type: String
         }
        };
      }
      // After the properties, but inside the class.
      login(e) {
       console.log("El usuario ha pulsado el botón login");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response.userid);
       console.log(data.detail.response.user);
       this.idusu = data.detail.response.userid;
       this.first_name = data.detail.response.name;
       if ( data.detail.response.userid!=undefined || data.detail.response.email!=undefined ) {
         this.isLogged = true;
         console.log('Usuario correcto!');
     /*    console.log(window.location.href);
       window.location = 'visor-usuario';
      window.location.href = "/visor-usuario/visor-usuario.html";*/
       } else {
        console.log('Usuario incorrecto!');
         this.isLogged = false;
         this.mensaje ="Usuario incorrecto"
         console.log("mensaje:"+ this.mensaje);
       }
       this.dispatchEvent(new CustomEvent('loginok', {detail:{idusu:this.idusu,
                                  isLogged:this.isLogged,
                                   name: this.first_name}}));
       console.log("isLoggeddellogin:" + this.isLogged);
       console.log("idusu:" + this.idusu);
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }
   }
    window.customElements.define(LoginUsuarioCuentas.is, LoginUsuarioCuentas);
  </script>
</dom-module>
